{{!-- <article class="movie">
 <div class="title">
  <p class="post-titles">{{title}}</p>
  <p class="date-post"> Posted by {{user.username}} on {{format_date created_at}}</p>  
  </div>
  <div class="body-main">
    <img id="myImage" class="movie-cover main-post" >
  </div>
  {{#if director}}
    <div class="body-main">
  <p class="main-post">{{director}}</p>
  </div>
  {{/if}}
  {{#if actors}}
      <div class="body-main">
  <p class="main-post">{{actors}}</p>
  </div>
  {{/if}}
  <div class="meta">
    <a class="comment-text" href="/movie/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article> --}}

{{!-- <div class="movie-card"> --}}
  <div class="card container">
  {{#if post_url}}
    <img src="{{post_url}}" width="300px" height="450">
  {{/if}}
  {{#if book_title}}
      <h4 class="title-size">Book Title: {{book_title}}</h4>
  {{/if}}
  {{#if alt_title}}
    <h4 class="title-size">Book Alt Title: {{alt_title}}</h4>
  {{/if}}
  {{#if title}}
    <h4 class="title-size">Title: {{title}}</h4>
    {{/if}}
    {{#if director}}
    <p class="info-size"><span class="labels">Directed By: </span>{{director}}</p>
    {{/if}}
    {{#if author}}
        <p class="info-size"><span class="labels">Author: </span>{{author}}</p>
    {{/if}}
    {{#if actors}}
    <p class="info-size"><span class="labels">Actors/Actresses: </span>{{actors}}</p>
    {{/if}}
  </div>
    <a class="comment-text" href="/movie/{{id}}">{{comments.length}} comment(s)</a>
{{!-- </div> --}}
