<a class="back-dashboard" href="/dashboard"> &larr; Back to dashboard</a>
<article>
    <div class = "entire-box">
    <div class="dashboard-text">
    </div>
    <form class="edit-post-form-movie">
        <div class="center-items">
        <h2>Title:</h2>
            <input class="post-title" name="post-title" type="text" value="{{movie.title}}" />
        </div>
        <div class="center-items">
        <h2>Post:</h2>
            <input class="post-title" name="post-url" type="text" value="{{movie.post_url}}" />
        <h2>Directors:</h2>
            <input class="post-title" name="post-director" type="text" value="{{movie.director}}" />
        <h2>Actors/Actresses:</h2>
            <input class="post-title" name="post-actors" type="text" value="{{movie.actors}}" />
        </div>
        <div class="posted-date">
           Originally posted by you on {{format_date movie.created_at}}
        </div>
        <div class="save-delete-buttons">
        <button type="submit">Save Movie</button>
        <button type="button" class="delete-post-btn">Delete Movie</button>
        </div>
    </form>
    </div> 
</article>


<script src="/javascript/edit-movie-post.js"></script>
<script src="/javascript/delete-post.js"></script>